@model MultiPlex.Core.Data.ViewModels.ViewWikiUsers

@{
    ViewBag.Title = "Wiki users";
}

<h2>Wiki's users</h2>

@*<p>
        @Html.ActionLink("Create New", "CreateContent",
        new  {wikiname=Request.RequestContext.RouteData.Values["wikiname"] ,
        cid = Request.QueryString.Get("cid")})
    </p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Administrator.UserName)
            
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Administrator.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Administrator.PhoneNumber)
        </th>

    </tr>
     @{ var mods = Model.Moderators;}
    @foreach (var item in Model.Moderators)
    {
        <tr>
            <td>
                @*@Html.DisplayFor(modelItem => item.UserName)*@
                @Html.ActionLink(item.UserName, "Details",
                    new { username = item.UserName })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)

            </td>
            <td>
                When Implement Viewing user details and edit user uncomment the followingng
                @*@Html.ActionLink("Edit", "EditContent", new { wikiname = item.Wiki.Name,
                    id = item.Id, slug = item.Slug }) ;
                     @Html.ActionLink("Delete", "Delete", new { wikiname = item.Wiki.Name, id = item.Id })*@
            </td>
        </tr>
    }

</table>
