@model IEnumerable<MultiPlex.Core.Data.Models.ApplicationUser>

@{
    ViewBag.Title = "Users";
}

<h2>Users</h2>

@*<p>
    @Html.ActionLink("Create New", "CreateContent",
    new  {wikiname=Request.RequestContext.RouteData.Values["wikiname"] ,
    cid = Request.QueryString.Get("cid")})
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.UserName, "FullDetails",
                    new { username = item.UserName })
                
                @*@Html.ActionLink(item.Name, "ViewContent",
               new { wikiname = item.Wiki.Name, id = item.Id, slug = item.Slug });*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
               
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
                
            </td>
            <td>
                When Implement Viewing user details and edit user uncomment the followingng
                @Html.ActionLink("Edit", "EditUserDetails", new {username = item.UserName }) ;            
                @*@Html.ActionLink("Delete", "Delete", new { wikiname = item.Wiki.Name, id = item.Id })*@
            </td>
        </tr>
    }

</table>
