@model IEnumerable< MultiPlex.Core.Data.ViewModels.ViewWikiTitle>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @{
        var routval = "";

        routval=(string)Request.RequestContext.RouteData.Values["wikiname"];
        var wkname="";
        if ( routval !=null)
        {
            wkname = routval;
        }
        else
        {
            wkname= Request.QueryString["wikiname"];
        }

    }}
    @Html.ActionLink("Create New", "CreateContent",
    new  {wikiname=wkname,
    cid = Request.QueryString.Get("cid")})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
               @*@Html.DisplayFor(modelItem => item.Name)*@
                @Html.ActionLink(item.Name, "ViewContent",
               new { wikiname = item.Wiki.Name, id = item.Id, slug = item.Slug })
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>*@
            <td>

                @Html.ActionLink("Edit", "EditContent", new { wikiname = item.Wiki.Name,
               id = item.Id, slug = item.Slug })           
                @Html.ActionLink("Delete", "Delete", new { wikiname = item.Wiki.Name, id = item.Id })
            </td>
        </tr>
    }

</table>
