@model MultiPlex.Core.Data.Models.WikiFile
@using MultiPlex.Core.Helpers.ASP.Net


@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<div>
    <h3>Are you sure you want to delete this?</h3>
    <h4>File Details</h4>
    <hr />
    <table class="table">
        
        <tbody>
            <tr>
                <td>
                    <dl class="dl-horizontal">
                        <dt>
                            
                        </dt>

                        <dd>
                            @if (Model.isImage == true)
                            { //var imgsrc = Url.Content(item.RelativePath);
                                @Html.Image(Url.Content(Model.RelativePath), Model.FileType, "auto")
                            }
                            @*@{*@
                            else
                            {
                                @Html.DisplayFor(modelItem => modelItem.FileType);

                            }
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Title)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Title.Name)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Wiki)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Wiki.Name)
                        </dd>
                      
                       
                        <dt>
                            @Html.DisplayNameFor(model => model.Owner.UserName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Owner.UserName)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.FileName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.FileName)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Version)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Version)
                        </dd>
                       
                   
                </td>
                <td>             
                  

</td>
            </tr>
    </tbody>
    </table>
    @using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        @*@Html.ActionLink("Back to List", "Index")*@
        @Html.ActionLink("Back to List", null, null, null, new { href = Request.UrlReferrer })
    </div>
    }
</div>
<p>
    @*@Html.ActionLink("Edit", "EditWiki", new { id = Model.Name }) |*@
    @Html.ActionLink("Back to List", "Index","HomeWiki")
</p>
