@model  MultiPlex.Core.Data.ViewModels.ViewWiki
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Wiki</h4>
    <hr />
    <table class="table">
        
        <tbody>
            <tr>
                <td>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Description)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Description)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Administrator)
                        </dt>

                        <dd>
                           @Html.ActionLink(Model.Administrator.UserName, "Details", "WikiUser", 
                          new { username = Model.Administrator.UserName }, htmlAttributes: null) 
                        </dd>
                        <dd>
                            @Html.DisplayNameFor(model => model.Moderators)
                        </dd>
                        <dt>
                            <ul >
                                @{
                                    var mods = Model.Moderators.ToList();
                                    foreach (var mod in mods)
                                    {
                                        <li> @Html.ActionLink(mod.UserName,"Details", "WikiUser", new { username = mod.UserName },htmlAttributes:null)  </li>
                                    }

                                        }
                            </ul>
                        </dt>
                   
                </td>
                <td>             
                   @*@Html.DisplayNameFor(model => model.Categories);*@
                    <ul class="nav navbar-nav">
                        @{
                            var categories = Model.Categories;

                            @Html.ActionLink("Create New Category", "CreateCategories", new
                           {
                               wikiname = Model.Name
                           });
                            <br/>

                            if (categories.Count > 0)
                            {
                                foreach (var cat in categories)
                                {
                                @Html.ActionLink(cat.Title, "ListTitles", new { wikiname = Model.Name,
                               cid = cat.Id });<br/>

                                }
                            }
                           
                          
                                }
                     </ul>

</td>
            </tr>
    </tbody>
    </table>
</div>
<p><div id="Commandbar">
    @Html.ActionLink("Edit", "EditWiki", new { wikiname = Model.Name }) |
    @Html.ActionLink("Request Moderator Invitation", "RequestModeratorInvite", "WikiManager", new { wikiname = Model.Name },
    htmlAttributes:null) |
    @Html.ActionLink("Back to List", "Index")
    </div>
    <div id="nocattitles">
        @{ 
            if ( Model.Titles != null && Model.Titles.Count>0)
            {
                var nocattitles = Model.Titles.FindAll(x => x.Categories.Count == 0).ToList();
                if ( nocattitles!=null && nocattitles.Count>0)
                {
                      <ul class="nav navbar-nav">

                          @foreach (var ncattitle in nocattitles)
                          {
                            @Html.ActionLink(ncattitle.Name, "ViewContent","WikiContent",
               new { wikiname = ncattitle.Wiki.Name, id = ncattitle.TitleId, slug = ncattitle.Slug },htmlAttributes:null)
                          }
                          </ul>
                }

            }
        }
    </div>

</p>
