@model MultiPlex.Core.Data.Models.Wiki
@{
    ViewBag.Title = "Edit Wiki";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Wiki</h2>
<p> Wiki Was Last Updated at  @Html.DisplayFor(model => model.UpdatedAt)</p>
<table class="table">
    <tr>
        
@{

    var wikiname = Request.QueryString.Get("id");

   <td> @Html.ActionLink("Basic Info","EditBasicInfo", new { id=wikiname }, new { @class = "btn btn-default" })</td>    
   @*<td> @Html.ActionLink("Categories","ListCategories", new { id = wikiname })</td>*@
   <td> @Html.ActionLink("Titles", "ListWikiTitles", new { wikiname = wikiname }, new { @class = "btn btn-default" })</td>
}

</tr>
    <tr>

        @{

            

            <td> @Html.ActionLink("Users", "GetWikiUsers", "WikiUser", new { wikiname = wikiname }, 
                new { @class = "btn btn-default" })</td>
         
        }

    </tr>

</table>
