@model IEnumerable< MultiPlex.Core.Data.ViewModels.ViewWiki>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WikiTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.WikiTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditWiki", new { wikiname=item.Name }) |
            @Html.ActionLink("Details", "Details", new { wikiname = item.Name }) |
            @Html.ActionLink("Delete", "Delete", new { wikiname = item.Name })
        </td>
    </tr>
}

</table>
